/*asterisk wildcard selector to overide defualt browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*genral styles*/
body { 
    background: url("../images/crypt-background.webp") no-repeat center 
    center/cover;
    background-color: #000000;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}
/*style to hide headings*/
.hidden {
    display: none;
}
/*main container style*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*game container style*/
#game-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    background: url(../images/key-hole.webp) no-repeat center 
    center/cover;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 70%;
    max-width: 70%;
    border: 3px solid #000000;
}
/*header styles*/
h1 {
    display: flex;
    justify-content: center;
    font-size: 10rem;
    -webkit-text-stroke: 1px whitesmoke;
    margin-bottom: 60px;
}
/*h2 styles*/
h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    -webkit-text-stroke: 1px whitesmoke;
}
/*start button styles*/
#start {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 240px;
    height: 60px;
    border-width: 2px;
    border-color: #ffffff;
    color: aliceblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #72572f;
    margin: 20px;
}
/*start button center styles*/
#start-center {
    display: flex;
    justify-content: center;
}
/*message box styles*/
#message-box {
    text-align: center;
}
/*reset button styles*/
#reset {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 120px;
    height: 60px;
    border-width: 2px;
    border-color: #ffffff;
    color: aliceblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #72572f;
    margin: 20px;
}
/*rule box styles*/
.rule-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(23, 54, 23, 0.6) ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #000000;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 70%;
    max-width: 70%;
    border: 3px solid #000000;
}
/*rule box center styles*/
#rule-box-center {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
/*rules stlyes*/
#rules {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 120px;
    height: 60px;
    border-width: 2px;
    border-color: #ffffff;
    color: aliceblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #72572f;
    margin: 20px;
}
/*instructions styles*/
#instructions {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
/*level styles*/
#level {
    text-align: center;
    margin-bottom: 20px;
}
/*level display styles*/
#level-display-style{
    display: flex;
    justify-content: center;
    font-size: 2em;
    -webkit-text-stroke: 1px whitesmoke;
}
/*level display paragraph styles*/
#level-display{
    display: flex;
    justify-content: center;
    font-size: 2em;
    -webkit-text-stroke: 1px whitesmoke;
}
/*level display counter styles*/
#level-display-counter {
    display: flex;
    color: #000000;
    font-size: 2em;
    margin-left: 10px;
    -webkit-text-stroke: 1px whitesmoke;
}
/*message box styles*/
#message-box {
    display: flex;
    justify-content: center;
    font-size: 2em;
    -webkit-text-stroke: 1px whitesmoke;
    margin-top: 20px;
    margin-bottom: 5px;
}
/*barrel styles*/
#barrel {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}
/*pin styles*/
.pin {
    border: 1px solid black;
    height: 30px;
    background-color: white;
    width: 30px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

/*unlock button styles*/
#unlock{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 120px;
    height: 60px;
    border-width: 2px;
    border-color: #ffffff;
    color: aliceblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:  #72572f ;
    margin: 20px;
}
/*buttons center styles*/
#buttons-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*clear button styles*/
#clear {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 120px;
    height: 60px;
    border-width: 2px;
    border-color: #ffffff;
    color: aliceblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:  #72572f ;
    margin: 20px;
}
/*center styles*/
#clear-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*reset styles*/
#reset{
    display: flex;
    justify-content: center;
}
/*reset button styles*/
#btn-reset {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 120px;
    height: 60px;
    border-width: 2px;
    border-color: #ffffff;
    color: aliceblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:  #72572f ;
    margin: 20px;
}
/*wrong display styles*/
.wrong-display {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
    -webkit-text-stroke: 1px whitesmoke;
}
/*wrong guess styles*/
#wrong-guess {
    display: flex;
    color: #000000;
    font-size: 2em;
    margin-right: 70px;
    -webkit-text-stroke: 1px whitesmoke;

}
/*locks picked styles*/
#locks-picked {
    display: flex;
    color: #000000;
    font-size: 2em;
    margin-left: 10px;
    -webkit-text-stroke: 1px whitesmoke;
}
/*footer styles*/
.footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    -webkit-text-stroke: 1px whitesmoke;
    margin-top: 200px;
}


/*media query for larger devices*/
@media screen and (min-width: 1024px) and (max-width: 1279px){
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 7rem;
        -webkit-text-stroke: 1px whitesmoke;
        margin-bottom: 60px;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 4px;
    }

    #game-box {
        display: flex;
        max-width: 90%;
    }



}

/*media query for tablets devices*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 5rem;
        -webkit-text-stroke: 1px whitesmoke;
        margin-bottom: 60px;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 4px;
    }

    #game-box {
        display: flex;
        max-width: 100%;
    }

    #rule-box-center {
        width: 100%;
    }

    #instructions {
        display: flex;
        flex-wrap: wrap;
        color: #ffffff;
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 100px;
        margin-left: 30px;
        margin-right: 20px;
    }

    
}

/*media query for smaller devices*/
@media screen and (min-width: 425px) and (max-width: 767px){
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 3.5rem;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 4px;
        font-size: 2rem;
    }

    #instructions {
        display: flex;
        flex-wrap: wrap;
        color: #ffffff;
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 100px;
        margin-left: 30px;
        margin-right: 20px;
    }    
    #game-box {
        display: flex;
        max-width: 100%;
    }

    p {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }
}

/*media query for mobile devices*/
@media screen and (min-width:280px) and (max-width: 424px){
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 4px;
        font-size: 1rem;
    }

    #instructions {
        display: flex;
        flex-wrap: wrap;
        color: #ffffff;
        font-size: 1rem;
        margin-top: 20px;
        margin-bottom: 100px;
        margin-left: 30px;
        margin-right: 20px;
    }    

    #rule-box {
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }

    #game-box {
        display: flex;
        max-width: 100%;
    }

    p {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }
}

