/*asterisk wildcard selector to overide defualt browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*genral styles*/
body { 
    background: url("../images/crypt-background.webp") no-repeat center 
    center/cover;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}
/*game container style*/
#game-box {
    color: #000000;
    background: url(../images/key-hole.webp) no-repeat center 
    center/cover;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 400px 300px 400px 300px;
    border: 3px solid #000000;
}
/*header styles*/
h1 {
    display: flex;
    justify-content: center;
    font-size: 10rem;
    -webkit-text-stroke: 1px whitesmoke;
    margin-bottom: 20px;
    margin-top: 100px;

}
h2 {
    display: flex;
    font-size: 3rem;
    -webkit-text-stroke: 1px whitesmoke;
    margin-bottom: 20px;
    
}
.footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    -webkit-text-stroke: 1px whitesmoke;
    margin-top: 20px;
}
